agno
yfinance
openai 
duckduckgo-search 
newspaper4k 
lxml_html_clean
groq
python-dotenv
streamlit
pymongo

## langchain dependencies
langchain
langchain-groq
langchain-community 
langgraph 
langchain-anthropic 
tavily-python 
langgraph-checkpoint-sqlite
langchain-core
langchain-experimental
langchain-google-community
langchain-google-genai
langchain-google-vertexai